# Environments & Secrets
.env
.envs
*.env
gcp_credentials.json
hospital_bot/token

# Databases
db.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# IDEs
.idea/
.vscode/

# Project Specific
hos/
media/
hospital_bot/checkpoints/